@import url("base.css");

.migalhas{
    position: absolute;
    top: 20%;
    left: 18%;
}

.migalhas p{
    color: var(--preto);
    font-family: "Caladea", serif;
    font-weight: 600;
    font-size: 17px;
}

.artigo-mangue{
    background-color: var(--branco);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.container-artigo-mangue{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container-artigo-mangue h1{
    color: var(--preto);
    font-family: "Chau Philomene One", sans-serif;
    font-size: 28px;
}

.container-artigo-mangue p{
    color: var(--preto);
    font-family: "Caladea", serif;
    font-weight: 600;
    font-size: 17px;
}

.container-info-mangue {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    max-width: 1100px;
}

.container-textos-mangue{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.container-textos-artigo{
    max-width: 1100px;
}

.container-textos-artigo p{
    color: var(--preto);
    font-family: "Caladea", serif;
    font-weight: 600;
    font-size: 17px;

    text-align: justify;
}

.container-item-mangue{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-item-mangue p{
    color: var(--preto);
    font-family: "Caladea", serif;
    font-weight: 700;
    font-size: 17px;

    text-align: justify;
}

.container-item-mangue button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--verde);
    color: var(--branco);

    transition: 300ms;
}

.container-item-mangue button:hover{
    background-color: var(--preto);
}

.container-imagem-mangue{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-imagem-mangue img{
    width: 500px;
    height: 400px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    object-fit: cover;

    transition: 300ms;
}

.container-imagem-mangue img:hover{
    transform: scale(1.01);
}

.container-imagem-mangue p{
    font-family: "Caladea", serif;
    font-size: 10px;
    margin-top: 10px;
}

@media (min-width: 751px) and (max-width: 1224px) {
    .migalhas{
        top: 10%;
        left: 10%;
    }

    .container-info-mangue{
        flex-direction: column;
    }

    .container-imagem-mangue img{
        width: 100%;
    }
}

@media (max-width: 750px) {
    .migalhas{

        position: unset;
        top: 10%;
        left: 10%;
    }

    .container-info-mangue{
        flex-direction: column;
    }

    .container-imagem-mangue img{
        width: 100%;
    }
}