@import url("base.css");

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 45px;
    padding: 90px 20px;
}

/* Título da página */
main h1{
    font-size: 48px;
    font-family: "Chau Philomene One", sans-serif;
}

/* Section - Cards */
.integrantes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px 40px;
}

/* Card */
.card{
    width: 290px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 12px var(--verde);
    border-radius: 10px;
    padding:  20px 5px;
    background-color: #000000;
    transition: .3s;
}

.card:hover{
    scale: 1.1;
}

/* Imagem do card */
.card-img{
    width: 160px;
    height: 160px;
    margin-bottom: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
    object-fit: cover;
}

/* Nome do card */
.card-nome{
    margin-bottom: 10px;
    font-family: "Chau Philomene One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 1.5px;
    color: #fff;
}

/* Cargo do card */
.card-cargo{
    margin-bottom: 45px;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 1.5px;
    color: #c4c4c4;
}

/* Ícones do card */
.card-icones{
    display: flex;
    flex-direction: row;
    gap: 45px;
}

/* Github e Linkedin */
.github, .linkedin{
    cursor: pointer;
    font-size: 40px;
    color: #fff;
    transition: .3s;
}

.github:hover{
    color: #777575;
}

.linkedin:hover{
    color: #3A7ED4;
}


/* Animação Fade In */
.fadeIn{
    animation: fadeIN .5s linear;
}

@keyframes fadeIN{
    from{opacity: 0}
    to{opacity: 1}
}