@import url("base.css");

/* Inicio */
.inicio {
    background-image: url("../images/inicioPC.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    padding: 40px 20px;
    object-fit: cover;
}

.container-inicio {
    position: relative;
    margin-left: 5%;
    width: 40%;
    height: 500px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.container-inicio h1 {
    font-family: "Alta", sans-serif;
    font-size: 36px;
    color: var(--branco);
}

.container-inicio p {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: var(--branco);
}

.buttons-inicio {
    display: flex;
    gap: 20px;
}

.buttons-inicio button {
    background-color: var(--branco);
    padding: 10px 20px;
    border-radius: 10px;
    border: none;

    color: var(--verde);
    font-family: "Caladea", serif;

    transition: 300ms;
    box-shadow: var(--shadow);
}

.buttons-inicio button:hover {
    background-color: var(--verde);
    color: var(--branco);
    transform: scale(1.05);
}

/* Sessão mapa */
.mapa {
    background-color: var(--branco);
    padding: 40px 20px;
}

.container-mapa {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    flex-wrap: wrap;
}

.container-mapa-img img {
    max-width: 500px;
}

.container-mapa-textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    max-width: 500px;
}

.container-mapa-textos h1 {
    color: var(--preto);
    font-family: "Chau Philomene One", sans-serif;
    font-size: 28px;
}

.container-mapa-textos p {
    color: var(--preto);
    font-family: "Caladea", serif;
    font-weight: 600;
    font-size: 17px;

    text-align: justify;
}

.buttons-mapa button {
    background-color: var(--verde);
    padding: 10px 20px;
    border-radius: 10px;
    border: none;

    color: var(--branco);
    font-family: "Caladea", serif;
    font-weight: 500;

    transition: 300ms;
    box-shadow: var(--shadow);
}

.buttons-mapa button:hover {
    background-color: var(--preto);
    transform: scale(1.05);
}

/* Notícias */
.noticias {
    background-color: var(--azul);
    padding: 40px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noticias-inicio {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.noticias-inicio h1 {
    color: var(--branco);
    font-family: "Chau Philomene One", sans-serif;
    font-size: 28px;
}

.noticias-inicio p {
    color: var(--branco);
    font-family: "Caladea", serif;
    font-weight: 600;
    font-size: 17px;

    text-align: justify;
}

.container-noticias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.item-noticia {
    margin-top: 40px;
    background-color: var(--branco);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--shadow);
}

.item-noticia img {
    max-width: 300px;
}

.textos-noticia {
    background-color: var(--branco);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.textos-noticia h1 {
    color: var(--preto);
    font-family: "Chau Philomene One", sans-serif;
    font-size: 20px;
}

.textos-noticia p {
    color: var(--preto);
    font-family: "Caladea", serif;
    font-weight: 600;
    font-size: 17px;

    text-align: justify;
}

/* Contato */
.contato {
    background-color: var(--verde);
    padding: 40px 20px;
}

.contato h1 {
    color: var(--branco);
    font-family: "Chau Philomene One", sans-serif;
    font-size: 28px;

    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.contato form {
    padding: 40px;
    background-color: var(--branco);
    border-radius: 25px;
    box-shadow: var(--shadow);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contato form h1 {
    color: var(--preto);
}

.contato form input {
    background-color: transparent;
    border-radius: 10px;
    border: solid 2px #6a6a6a;
    padding: 10px 20px;
}

.contato form input::placeholder {
    color: var(--preto);
    font-family: "Caladea", serif;
    font-size: 15px;
}

.contato form button {
    padding: 10px 20px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: var(--verde);
    color: var(--branco);

    transition: 300ms;
}

.contato form button:hover {
    background-color: var(--preto);
}

.contato form a {
    width: 80px;
}

.perguntas {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

/* Sobre */
.sobre {
    background-color: var(--amarelo);
    padding: 40px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobre-inicio {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

    max-width: 700px;
}

.sobre-inicio h1 {
    color: var(--preto);
    font-family: "Chau Philomene One", sans-serif;
    font-size: 28px;
}

.sobre-inicio p {
    color: var(--preto);
    font-family: "Caladea", serif;
    font-weight: 600;
    font-size: 17px;

    text-align: center;
}

.container-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.item-sobre {
    margin-top: 40px;
    background-color: var(--branco);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--shadow);
}

.item-sobre img {
    max-width: 300px;
}

.textos-sobre {
    background-color: var(--branco);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.textos-sobre h1 {
    color: var(--preto);
    font-family: "Chau Philomene One", sans-serif;
    font-size: 20px;
}

.textos-sobre p {
    color: var(--preto);
    font-family: "Caladea", serif;
    font-weight: 600;
    font-size: 17px;

    text-align: justify;
}

/* Problemas */
.artigo-mangue {
    background-color: var(--vermelho);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.container-artigo-mangue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container-artigo-mangue h1 {
    color: var(--branco);
    font-family: "Chau Philomene One", sans-serif;
    font-size: 28px;
}

.container-artigo-mangue p {
    color: var(--branco);
    font-family: "Caladea", serif;
    font-weight: 600;
    font-size: 17px;
}

.container-info-mangue {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-textos-mangue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    width: 30%;
}

.container-item-mangue {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-item-mangue h1 {
    color: var(--branco);
    font-family: "Chau Philomene One", sans-serif;
    font-size: 20px;
}

.container-item-mangue p {
    color: var(--branco);
    font-family: "Caladea", serif;
    font-weight: 700;
    font-size: 17px;
}

.container-item-mangue button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--verde);
    color: var(--branco);

    transition: 300ms;
}

.container-item-mangue button:hover {
    background-color: var(--preto);
}

.container-imagem-mangue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-imagem-mangue img {
    width: 80%;
    height: 400px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    object-fit: cover;

    transition: 300ms;
}

.container-imagem-mangue img:hover {
    transform: scale(1.01);
}

.container-imagem-mangue p {
    font-family: "Caladea", serif;
    font-size: 10px;
    margin-top: 10px;
    color: var(--branco);
}

@media (max-width: 750px) {
    .container-inicio h1 {
        font-family: "Alta", sans-serif;
        font-size: 26px;
        color: var(--branco);
    }

    .container-inicio p {
        font-family: "Montserrat", sans-serif;
        font-size: 17px;
        color: var(--branco);
    }

    .perguntas {
        grid-template-columns: auto;
    }

    .container-info-mangue {
        flex-direction: column;
    }

    .container-imagem-mangue img {
        width: 100%;
    }
}
