@import url("base.css");

body{
    background-color: #D9D9D9;
}

.container{
    max-width: 50rem;
    margin: 0 auto;
}

iframe{
    width: 100%;
    height: 100%;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.content p{
    margin-bottom: 2rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.content select{
    font-size: 1rem;
    height: 40px;
    width: 200px;
    padding: 0.5rem;
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
}

.content select:focus{
    outline: none;
    border-color: #317F54;
    box-shadow: 0 0 5px #317F54;
}

.title{
    font-size: 1.2rem;
    font-family: "Alta", sans-serif;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.contentMap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.map{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    margin: 2rem;
    border-radius: 5px;
    background-color: white;
}

.map i{
    margin-right: 5px;
}

.map p{
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif; 
}