@import url("base.css");

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--verde);
    color: var(--branco);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .quiz-container {
    background-color: var(--branco);
    color: var(--verde);
    max-width: 900px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .quiz-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .question-container {
    flex: 1;
    margin-right: 20px;
  }
  
  .answers {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .resposta{
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .resposta{
    background-color: var(--preto);
    color: var(--branco);

    display: flex;
    justify-content: start;
    gap: 10px;
  }

  .resposta input[type='radio']{
    cursor: pointer;
    width: 20px;
    border-radius: 100px;
  }

  button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
  .answers button {
    background-color: var(--preto);
    color: var(--branco);
  }
  
  #confirm-btn {
    background-color: var(--amarelo);
    color: var(--verde);
    font-weight: bold;
  }
  
  .progress-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #progress-bar {
    height: 10px;
    width: 90%;
    background-color: var(--amarelo);
    border-radius: 5px;
    position: relative;
  }
  
  #progress-bar::before {
    content: '';
    height: 10px;
    background-color: var(--verde);
    width: 10%;
    border-radius: 5px;
    display: block;
  }
  
  #question-number {
    color: var(--preto);
    font-weight: bold;
  }

/* Media Queries */

/* max-width: 389px (para telas pequenas) */
@media (max-width: 389px) {
  .quiz-container {
    max-width: 100%;
    padding: 20px;

    flex-direction: column;
  }
  button {
    padding: 10px 20px;
    font-size: 14px;
  }
}

/* min-width: 390px e max-width: 458px */
@media (min-width: 390px) and (max-width: 458px) {
  .quiz-container {
    max-width: 100%;
    padding: 25px;

    flex-direction: column;
  }
  button {
    padding: 12px 25px;
    font-size: 15px;
  }
}

/* min-width: 459px e max-width: 598px */
@media (min-width: 459px) and (max-width: 598px) {
  .quiz-container {
    max-width: 100%;
    padding: 30px;

    flex-direction: column;
  }
  button {
    padding: 14px 30px;
    font-size: 16px;
  }
}

/* min-width: 599px e max-width: 768px */
@media (min-width: 599px) and (max-width: 768px) {
  .quiz-container {
    max-width: 80%;
    padding: 30px;

    flex-direction: column;
  }
  button {
    padding: 15px 30px;
    font-size: 16px;
  }
}

/* min-width: 767px e max-width: 992px */
@media (min-width: 767px) and (max-width: 992px) {
  .quiz-container {
    max-width: 700px;
    padding: 35px;

    flex-direction: column;
  }
}

/* min-width: 993px e max-width: 1179px */
@media (min-width: 993px) and (max-width: 1179px) {
  .quiz-container {
    max-width: 800px;
    padding: 35px;
  }
}

/* min-width: 1180px e max-width: 1350px */
@media (min-width: 1180px) and (max-width: 1350px) {
  .quiz-container {
    max-width: 900px;
    padding: 40px;
  }
}
